.AboutMe h1 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.AboutMe {
  padding: 100px;
  background: #032c4e;
}

.AboutMe p {
  color: white;
  line-height: 2;
}
.AboutMe img {
  width: 400px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.AboutMe a {
  color: var(--primary-color);
}
.AboutMe a:hover {
  color: var(--secondary-color);
  transform: scale(1.5);
}

@media (max-width: 800px) {
  .AboutMe h1 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 30px;
  }

  .AboutMe {
    padding: 30px;
    padding-top: 20px;
  }

  .AboutMe img {
    width: 300px;
  }
}
