:root {
  --primary-color: #fc5e80;
  --secondary-color: #b53a54;
  --tertiary-color: #01142b;
}

.App h1 {
  font-size: 72px;
  margin: 0;
  color: white;
  line-height: 1.5;
}

.App h3 {
  color: white;
  font-weight: 300;
  line-height: 1;
  font-size: 15px;
}
.App-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.App .about-me {
  margin-top: 20px;
  font-size: 15px;

  font-weight: 300;
}

.App .intro {
  color: var(--primary-color);
  margin: 0;
}

.App footer {
  background: var(--tertiary-color);
}

.App footer ul {
  list-style: none;
  padding: 100px;
  padding-bottom: 0;
  line-height: 3;
  margin: 0;
}
.App footer a {
  color: white;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.App footer a:hover {
  color: var(--primary-color);
}

.App ul.socials {
  display: flex;
  justify-content: center;
  padding: 0;
  color: var(--primary-color);
}
.socials li {
  margin-top: 0;
  margin: 20px;
  padding: 0;
}

.App .socials a {
  color: var(--primary-color);
}

.App .socials a:hover {
  color: var(--secondary-color);
}

.App .socials li {
  transition: all 200ms ease-in-out;
}
.App .socials li:hover {
  transform: scale(1.5);
}
.App footer p {
  color: white;
  margin-top: 30px;
  font-size: 13px;
  font-style: italic;
}

.App footer p a {
  color: var(--primary-color);
}

.App footer p a:hover {
  color: var(--secondary-color);
}
@media (max-width: 800px) {
  .App-header {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 100px;
    padding-left: 50px;
  }
  .App h1 {
    font-size: 50px;
  }

  .App h3 {
    font-size: 15px;
  }

  .App footer ul {
    padding: 30px;
    padding-bottom: 0;
  }

  .App footer p {
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
  }
}
