.Navbar a {
  color: white;
  font-size: 17px;
}

.Navbar a:hover {
  color: var(--primary-color);
}

.activated {
  color: var(--secondary-color);
}

.Navbar {
  text-align: right;
}

.custom-navbar {
  background: var(--tertiary-color);
}
