.Tools h1 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
  padding-bottom: 0;
  padding-top: 0;
}

.Tools p {
  color: white;
  padding: 20px;
  padding-top: 5px;
}

.Tools li {
  color: var(--primary-color);
  line-height: 2;
  text-align: center;
}

.Tools ul {
  list-style: none;
  padding: 0;
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.Tools {
  padding: 50px;
  background: var(--tertiary-color);
}

.Tools div {
  margin: 15px;
}

@media (max-width: 800px) {
  .Tools ul {
    display: block;
  }

  .Tools li {
    margin-bottom: 20px;
  }

  .Tools {
    padding: 10px;
    padding-top: 20px;
  }

  .Tools img {
    width: 70px;
  }

  .Tools h1 {
    font-size: 30px;
  }
}
